<p>
  <p style="color:red;font-size:20px;">This site is under construction!</p>
  The CMS Collaboration pioneered the release of LHC research quality data for
      public use.  Since 2014, a significant amount of data has been made
      public through the CERN Open Data portal. This is the second version
      of the <a
        href="https://cms-opendata-workshop.github.io/2020-09-30-cms-open-data-workshop-for-theorists/">CMS Open Data Workshop</a>, which was held remotely in 2020. It aims to bridge the technical gap that usually exists between the scientific creativity of an external analyst and the implementation of a full analysis with CMS open data. All exercises will be hands-on and participants should be prepared to dive into the data right away. Time will also be spent brainstorming with attendees about how the entire process of accessing and analyzing the data could be made more useful for the broader HEP community.
</p>
<p>
Please visit the official <a href="FIXME">Indico site</a> for the workshop.
</p>
