<p>
  <p style="color:red;font-size:20px;">This site is under construction!</p>

Since 2014, the CMS Collaboration has pioneered the release of LHC research quality data for public 
use by making a significant amount of these data accessible through the CERN Open Data portal. 
In 2020, the collaboration initiated a first-of-its-kind 
<a href="https://cms-opendata-workshop.github.io/2020-09-30-cms-open-data-workshop-for-theorists/">CMS Open Data Workshop</a> 
where theorists, phenomenologists, and other interested researchers can learn more about how to interact 
with and analyze these vast datasets. This is the second version of that workshop and should benefit 
both new participants and attendees of the first iteration. The workshop aims to bridge the technical gap
that usually exists between the scientific creativity of an external analyst and the nuts-and-bolts 
details of a full analysis with CMS open data. All exercises will be hands-on and participants 
should be prepared to dive into the data right away. A set of pre-exercises and assignments are provided and required for participants
so that they can make the most of the workshop. Time will also be spent brainstorming with attendees about how the
entire process of accessing and analyzing the data could be made more useful for the broader HEP community.

</p>
<p>
Please visit the official <a href="FIXME">Indico site</a> for the workshop.
</p>
