<div class="row">
  <div class="col-md-6">
    <h3>Pre-exercises</h3>
    <h5>(<strong>Mandatory exercises must be completed before the start of the workshop</strong>)</h5>
    <h5>(<strong>Submission of work assignments is required as explained in the Orientation below</strong>)</h5>
    <table class="table table-striped">
        <tr><td>Mandatory 5 min</td><td style="background-color:#ff0000"><a style="color:white" href="https://cms-opendata-workshop.github.io/2021-07-19-cms-open-data-workshop/ORIENTATION.html">
            Orientation (General guidance)</a></td></tr>
        <tr><td>Optional (external lesson)</td><td><a href="https://swcarpentry.github.io/shell-novice/">The Unix Shell</a></td></tr>
        <tr><td>Optional (external lesson)</td><td><a href="https://swcarpentry.github.io/git-novice/">Version Control with Git</a></td></tr>
        <tr><td>Optional (external lesson)</td><td><a href="https://swcarpentry.github.io/python-novice-inflammation/">Programming with Python</a></td></tr>
        <tr><td>Mandatory 2h</td><td style="background-color:#ff0000; color:white"><a style="color:white" href="https://cms-opendata-workshop.github.io/workshop2021-lesson-virtualmachine">Virtual Machine</a> or <a style="color:white" href="https://cms-opendata-workshop.github.io/workshop2021-lesson-docker">Docker
            container</a> setup for CMS Open Data (General guidance)</td></tr>
        <tr><td>Mandatory 2.5h</td><td style="background-color:#00ffff"><a style="color:black" href="https://cms-opendata-workshop.github.io/workshop2021-lesson-preexercise-cpp-and-root">C++ and ROOT basics (Analysis flow)</a></td></tr>
        <tr><td>Mandatory 1h</td><td style="background-color:#ffff00"><a style="color:black" href="https://cms-opendata-workshop.github.io/workshop2021-lesson-introphysicsobjects">Intro to physics objects (Basic physics objects)</a></td></tr>
        <tr><td>Mandatory 2h</td><td style="background-color:#ffff00"><a style="color:black" href="https://cms-opendata-workshop.github.io/workshop2021-lesson-cmssw">CMSSW fundamentals (Basic physics objects)</a></td></tr>
        <tr><td>Mandatory 1.25h</td><td style="background-color:#ffff00"><a style="color:black" href="https://cms-opendata-workshop.github.io/workshop2021-lesson-introtrigger">Trigger essentials (Basic physics objects)</a></td></tr>


    </table>
   </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Monday</h3>
    <table class="table table-striped">
      <tr><td>14:30-15:10</td><td style="background-color:#ff0000"><a style="color:white" href="fixme">Welcome and Intro (General guidance)</a></td><td>Kati Lassila-Perini</td></tr>
      <tr><td>15:10-15:55</td><td style="background-color:#ff8000"><a style="color:black" href="https://cms-opendata-workshop.github.io/workshop2021-lesson-dataset-scouting/">Intro/demo (Datasets and access)</a></td><td>Matt Bellis</td></tr>
      <tr> <td>15:55-16:10</td><td>Break</td><td></td></tr>
      <tr><td>16:10-16:50</td><td style="background-color:#ff8000"><a style="color:black" href="https://cms-opendata-workshop.github.io/workshop2021-lesson-dataset-scouting/">Hands-on (Datasets and access)</a></td><td>Matt Bellis</td></tr>
      <tr><td>16:50-17:35</td><td style="background-color:#ffff00"><a style="color:black" href="https://cms-opendata-workshop.github.io/workshop2021-lesson-basicobjects/">Demo/Q's (Basic physics objects)</a></td><td>Julie Hogan</td></tr>
      <tr> <td>17:35-17:50</td><td>Break</td><td></td></tr>
      <tr><td>17:50-18:30</td><td style="background-color:#ffff00"><a style="color:black" href="https://cms-opendata-workshop.github.io/workshop2021-lesson-basicobjects/">Hands-on (Basic physics objects)</a></td><td>Julie Hogan</td></tr>
      <tr><td>Offline</td><td style="background-color:#ff8000"><a style="color:black" href="https://cms-opendata-workshop.github.io/workshop2021-lesson-dataset-scouting/">Challenge (Datasets and access)</a></td><td></td></tr>
      <tr><td>Offline</td><td style="background-color:#00ff00"><a style="color:black" href="fixme">Prep-work  (Advanced physics objects)</a></td><td></td></tr>
    </table>
  </div>
  <div class="col-md-6">
      <h3>Tuesday</h3>
    <table class="table table-striped">
      <tr><td>14:30-15:10</td><td style="background-color:#ff8000"><a style="color:black" href="https://cms-opendata-workshop.github.io/workshop2021-lesson-dataset-scouting/">Solution/Q's (Datasets and access)</a></td><td>Matt Bellis</td></tr>
      <tr><td>15:10-15:55</td><td style="background-color:#ffff00"><a style="color:black" href="https://cms-opendata-workshop.github.io/workshop2021-lesson-basicobjects/">Challenge (Basic physics objects)</a></td><td>Julie Hogan</td></tr>
      <tr> <td>15:55-16:10</td><td>Break</td><td></td></tr>
      <tr><td>16:10-16:50</td><td style="background-color:#ffff00"><a style="color:black" href="https://cms-opendata-workshop.github.io/workshop2021-lesson-basicobjects/">Solution/Q's (Basic physics objects)</a></td><td>Julie Hogan</td></tr>
      <tr><td>16:50-17:35</td><td style="background-color:#00ff00"><a style="color:black" href="fixme">Demo/Q's (Advanced physics objects)</a></td><td>Julie Hogan</td></tr>
      <tr> <td>17:35-17:50</td><td>Break</td><td></td></tr>
      <tr><td>17:50-18:30</td><td style="background-color:#00ff00"><a style="color:black" href="fixme">Hands-on (Advanced physics objects)</a></td><td>Julie Hogan</td></tr>
      <tr><td>Offline</td><td style="background-color:#00ff00"><a style="color:black" href="fixme">Challenge (Advanced physics objects)</a></td><td></td></tr>
      <tr><td>Offline</td><td style="background-color:#00ffff"><a style="color:black" href="fixme">Prep-work (Analysis flow)</a></td><td></td></tr>
      <tr><td>Offline</td><td style="background-color:#0000ff"><a style="color:white" href="fixme">Prep-work (Cloud computing)</a></td><td></td></tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Wednesday</h3>
    <table class="table table-striped">
      <tr><td>14:30-15:10</td><td style="background-color:#00ff00"><a style="color:black" href="fixme">Solution (Advanced physics objects)</a></td><td>Julie Hogan</td></tr>
      <tr><td>15:10-15:55</td><td style="background-color:#00ffff"><a style="color:black" href="fixme">Demo/Q's (Analysis flow)</a></td><td>Edgar Carrera</td></tr>
      <tr> <td>15:55-16:10</td><td>Break</td><td></td></tr>
      <tr><td>16:10-16:50</td><td style="background-color:#00ffff"><a style="color:black" href="fixme">Hands-on (Analysis flow)</a></td><td>Edgar Carrera</td></tr>
      <tr><td>16:50-17:35</td><td style="background-color:#00ffff"><a style="color:black" href="fixme">Hands-on (Analysis flow)</a></td><td>Edgar Carrera</td></tr>
      <tr> <td>17:35-17:50</td><td>Break</td><td></td></tr>
      <tr><td>17:50-18:30</td><td style="background-color:#0000ff"><a style="color:white" href="fixme">Demo/Q's (Cloud computing)</a></td><td>TBC</td></tr>
      <tr><td>Offline</td><td style="background-color:#00ffff"><a style="color:black" href="fixme">Challenge (Analysis flow)</a></td><td></td></tr>
    </table>
  </div>
  <div class="col-md-6">
      <h3>Thursday</h3>
    <table class="table table-striped">
      <tr><td>14:30-15:10</td><td style="background-color:#00ffff"><a style="color:black" href="fixme">Solution/Q's (Analysis flow)</a></td><td>Edgar Carrera </td></tr>
      <tr><td>15:10-15:55</td><td style="background-color:#0000ff"><a style="color:white" href="fixme">Hands on (Cloud computing)</a></td><td>TBC</td></tr>
      <tr> <td>15:55-16:10</td><td>Break</td><td></td></tr>
      <tr><td>16:10-16:50</td><td style="background-color:#0000ff"><a style="color:white" href="fixme">Hands on (Cloud computing)</a></td><td>TBC</td></tr>
      <tr><td>16:50-17:35</td><td><a href="fixme">Wrap-up discussion</a></td><td>Everyone</td></tr>
      <tr> <td>17:35-17:50</td><td>Break</td><td></td></tr>
      <tr><td>17:50-18:30</td><td><a href="fixme">Closing/Feedback</a></td><td>Everyone</td></tr>
    </table>
  </div>
</div>
